absl-py==2.2.2
accelerate==1.0.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
async-timeout==5.0.1
attrs==25.3.0
av==12.3.0
beautifulsoup4==4.13.4
bitsandbytes==0.45.5
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
datasets==3.1.0
deepspeed==0.16.7
diffusers==0.33.1
dill==0.3.8
easydict==1.13
einops==0.8.1
filelock==3.13.1
flash-attn==2.7.0.post2
frozenlist==1.5.0
fsspec==2024.6.1
ftfy==6.2.3
gdown==5.2.0
google-auth==2.40.1
google-auth-oauthlib==1.0.0
grpcio==1.70.0
hjson==3.1.0
huggingface-hub==0.30.2
hydra-core==1.3.2
hyvideo @ git+https://github.com/ollanoinc/hyvideo.git@c4b57d465d6c1e12b38175b98f713c59de27243b
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
inquirerpy==0.3.4
iopath==0.1.10
Jinja2==3.1.4
loguru==0.7.3
Markdown==3.7
MarkupSafe==2.1.5
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.0
ninja==1.11.1.4
numpy==1.24.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py==12.575.51
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.11.0.86
packaging==25.0
pandas==2.0.3
peft==0.13.2
pfzy==0.3.4
pillow==10.2.0
pkg_resources==0.0.0
portalocker==3.0.0
prompt_toolkit==3.0.51
propcache==0.2.0
protobuf==5.29.4
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.10.6
pydantic_core==2.27.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
safetensors==0.5.3
sentencepiece==0.2.0
six==1.17.0
soupsieve==2.7
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
tokenizers==0.20.3
toml==0.10.2
torch==2.4.1+cu118
torch-optimi==0.2.1
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tqdm==4.67.1
transformers==4.46.3
triton==3.0.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
wcwidth==0.2.13
Werkzeug==3.0.6
xxhash==3.5.0
yarl==1.15.2
zipp==3.20.2
